* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;

}

body {
    background-color: black;

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin: 30px 0;

}

.labels {
    display: flex;
    gap: 0px;
    flex-direction: column;
    font-weight: 500;

}

input {
    width: 130px;
    padding: 1px 3px 2px 3px;   
    height: 25px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #a43131;
    font-weight: 600;
    background: #79cb15;
    text-align: center;
}

input::placeholder{
    font-size: 13px;
    text-transform: none;
}

select {
    width: 174px;
    padding: 0px 0px 2px 6px;
    height: 25px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    background: #79cb15;
    text-align: center;
    /* Remove default arrow abaixo*/
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;       
    /*background-image: url(...);   /* Add custom arrow */

}



button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 115px;
    height: 74.5px;

}

button:hover {
    opacity: 0.7;
}


form {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    text-align: center;
}

form button {
    width: 40px;
    height: 25px;
    font-size: 10px;
    padding: 1px;
    text-align: center;
    border-radius: 3px;


}


.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
        
}

option{
    text-align: center;
}

.label-cupons{
    margin-left: 31px;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 170px 170px 170px;
    gap: 30px;
    justify-content: center;
    
    
}

li:hover{
    opacity: 0.5;
}

li{
    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

img {
    width: 100%;
    border-radius: 5px;
    height: 136.8px;
    
}

.item-price{
    font-weight: bold;
    color: #79cb15;
    
}

h1{
text-align: center;}




